.nav-link {
    color: green;
    }
.saini {
color: white;
}

a{
color: red;
text-decoration:none;
}

.form-donate{
    border: 3px solid red;
    width: 60%;
    margin: 50px;
    padding: 15px;
    border-radius: 50px;
    
}
.a input {
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
}
