{% extends 'base.html' %}
{% block title %} about Us {%endblock %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
{% load static %}
<style>
    body{
    background-image: url("{% static 'img/2.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8; 
    }  
</style>
<div class="container ">
    <h2>This website is make by student of <b>IIIT DM</b></h2>
    <p>check here
    <a target="none" href="https://www.youtube.com/channel/UC9I7YRGaia55f37U0PwRvMg">Anil Kumar Saini </a></p>
</div>

{% endblock %}