{% extends 'base.html' %}
{% block title %} donateform {% endblock %}
{% block body %}
<style>

    .container{
        border: 3px solid red;
        width: 60%;
        margin: 50px;
        padding: 15px;
        border-radius: 50px;
        
    }

    .container1{
   
        width: 60%;
        margin: 15px;
      
        
    }
    .a input {
        margin: 10px;
        padding: 5px;
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 25px;
        border-radius: 20px;
    }
</style>

    <!-- <h3>Thanks For Help Needy People</h3> -->
    <div class="container1">

        <h6>Donate To Mr./Mrs. : {{personName.person_name}}</h6>
        <h6>Blood Group : {{personName.person_bloodGroup}}</h6>
        <h6>Email : {{personName.person_email}}</h6>
        <h6>Conatct Number : {{personName.person_mobileNumber}}</h6>
    </div>

<div class="container">
    <h1>Fill Your Details Here</h1>
    <form action="{% url 'donateform' personName.id %}" method="POST">
        {% csrf_token %}
        <div class="a">
            <input type="text" name="name" placeholder="enter full name">
        </div>
        <div class="a">
            <input type="email" name="email" placeholder="enter email ">
        </div>
        <div class="a">
            <input type="number" name="mobileNumber" placeholder="enter mobile number">
        </div>
        <div class="a">
            <input type="number" name="age" placeholder="enter age (>18 )">
        </div>
        <div class="a">
            <input type="text" name="address" placeholder="enter address">
        </div>

        <p>Please select your gender:</p>

        <input type="radio" id="female" name="gender" value="Female">
        <label for="female">Female</label><br>

        <input type="radio" id="male" name="gender" value="Male">
        <label for="male">Male</label><br>

        <input type="radio" id="transgender" name="gender" value="Transgender">
        <label for="transgender">Transgender</label><br>

        
        <p>Please select your blood group:</p>

        <input type="radio" id="ap" name="bloodGroup" value="A+">
        <label for="ap">A+</label><br>

        <input type="radio" id="an" name="bloodGroup" value="A-">
        <label for="an">A-</label><br>

        <input type="radio" id="bp" name="bloodGroup" value="B+">
        <label for="bp">B+</label><br>

        <input type="radio" id="bn" name="bloodGroup" value="B-">
        <label for="bn">B-</label><br>

        <input type="radio" id="abp" name="bloodGroup" value="AB+">
        <label for="abp">AB+</label><br>

        <input type="radio" id="ab-" name="bloodGroup" value="AB-">
        <label for="ab-">AB-</label><br>

        <input type="radio" id="op" name="bloodGroup" value="O+">
        <label for="op">O+</label><br>

        <input type="radio" id="on" name="bloodGroup" value="O-">
        <label for="on">O-</label><br>

       
    {% if user.is_authenticated %}
        <input type="submit" class="submit" value="submit">
    {% else %}
          <a class="btn btn-primary mx-2" href="{% url 'handleLogin' %}">Login</a>
          <a class="btn btn-primary" href="{% url 'handleSignUp' %}">Sign Up</a>
    {% endif %}

    </form>
</div>
{% endblock %}