{% extends 'base.html' %}
{% block title %} donater {% endblock %}
{% block donateractive %} active {% endblock donateractive %}
{% block body %}
{% load static %}

</style>
<h3>Donater List </h3>
  {% for alldonater in AllBloodDonater %}
    <div class="container">
     
          <h5 class="mb-1">Name : {{alldonater.person_name}}</h5>
          <small>Gender : {{alldonater.person_gender}}</small><br>
          <small>Blood Group: {{alldonater.person_bloodGroup}}</small><br>
          <small>Donated On: {{alldonater.timestamp}}</small>
    </div>
    {% empty %}
    <p class="lead">No Records!</p>
  {% endfor %}


{% endblock %}


