{% extends 'base.html' %}
{% block title %} donater {% endblock %}
{% block donateactive %} active {% endblock donateactive %}

{% block body %}

{% load static %}

<style>
  
</style>
  <div >
    {% for allBloodNeedPerson in AllBloodNeedPerson %}
    <div class="container">
     
      <h3 class="mb-1">Name : {{allBloodNeedPerson.person_name}}</h3>
      <small>Gender : {{allBloodNeedPerson.person_gender}}</small><br>
      <small>Blood Group: {{allBloodNeedPerson.person_bloodGroup}}</small><br>
      <small>Requested On: {{allBloodNeedPerson.timestamp}}</small>
      <a class="" href="{% url 'persondetails' allBloodNeedPerson.id %}">More Detail</a>
    </a>
  </div>
    {% empty %}
    <p class="lead">No Records!</p>
    {% endfor %}
</div>

{% endblock %}