{% extends 'base.html' %}

{% block title %} home {%endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}
{% load static %}

<style>
    body{
    background-image: url("{% static 'img/2.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8; 
    }  
</style>

<h1 class="text-center">Blood Bank</h1>
<p class="lead text-center">Online Blood-Bank through which one can request or donate Blood.</p>
<div class="container text-center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Jm8rA9m4yq0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}







