{% extends 'base.html' %}
{% block title %} Person Details {% endblock %}
{% block donateactive %} active {% endblock donateactive %}

{% block body %}

<div class="container">

    
    <h3>Person Details :</h3>
    <h6>The Person is : {{personName.person_name}}</h6>
    <h6>ID : {{personName.person_gender}}</h6>
    <h6>ID : {{personName.person_bloodGroup}}</h6>
    <h6>ID : {{personName.person_email}}</h6>
    <h6>ID : {{personName.person_mobileNumber}}</h6>
    
    
    <a class=" " href="{% url 'donateform' personName.id %}">Donate</a>
   
</div>

 
   <form action="{% url 'persondetails' personName.id  %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="delete">
    
  </form>

{% endblock %}
